// 默认字体颜色#666666
// 默认常用背景色
$c: #009C8B;
// 默认常用主题色
$c-a:#FF4653;
// 默认字体大小24px
$f: .24rem;

// 默认渐变主题色
$bg-g: linear-gradient(90deg, rgba(87,164,255,1),rgba(3,86,243,1));

//图片地址
$img-path: '../../image';
// 长方形
@mixin rect($w, $h){
  width: $w;
  height: $h;
}
// 正方形
@mixin square($w){
  width: $w;
  height: $w;
}
// 正方形带图
@mixin squareBg($w, $url){
  width: $w;
  height: $w;
  background-image: url($url);
  background-size: 100% 100%;
  background-position: center;
}
// 长方形带图
@mixin rectBg($w, $h, $url){
  width: $w;
  height: $h;
  background-image: url($url);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
// 背景图
@mixin bg($url){
  background-image: url($url);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
// 字体快写
@mixin font($size, $color){
  font-size: $size;
  color: $color;
  // text-align: center;
}
// line-height与高度快写
@mixin hel($h){
  height: $h;
  line-height: $h;
}
// 隐藏vue的字符串赋值符号
[v-cloak] {
  display: none !important;
}
html {
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 50px;
};
@media (min-width: 320px){html{font-size: 42.6667px;} }
@media (min-width: 360px){html{font-size: 48px;} }
@media (min-width: 375px){html{font-size: 50px;} }
@media (min-width: 384px){html{font-size: 51.2px;} }
@media (min-width: 414px){html{font-size: 55.2px;} }
@media (min-width: 448px){html{font-size: 59.7333px;} }
@media (min-width: 480px){html{font-size: 48px;} }
@media (min-width: 512px){html{font-size: 68.2667px;} }
@media (min-width: 544px){html{font-size: 72.5333px;} }
@media (min-width: 576px){html{font-size: 76.8px;} }
@media (min-width: 608px){html{font-size: 81.0667px;} }
@media (min-width: 640px){html{font-size: 85.3333px;} }
@media (min-width: 750px){html{font-size: 100px;} }
body,
// header,
section,
// footer,
// div,
ul,
ol,
li,
img,
a,
span,
em,
del,
legend,
center,
strong,
var,
fieldset,
form,
label,
dl,
dt,
dd,
cite,
input,
hr,
time,
mark,
code,
figcaption,
figure,
textarea,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  border: 0;
  padding: 0;
  font-style: normal;
}
li {
  list-style: none;
}
body{
  color: #666666;
  font-size: $f;
}
// input样式统一
input{
  -webkit-appearance:none;
  -moz-appearance: none;
  background :rgba(0, 0, 0, 0);
  // font-size: .8rem;
  outline:none;
  color: #666; //光标离开的颜色
  border:none;
  }
  
  //光标在输入的颜色
  input[type="text"]:focus{
  color: #666;
  }
  
  //placehoder的颜色
  input::-webkit-input-placeholder{color:#bbb}


  // 公用小于1px的细线样式
  .com-line{
		background-color: #eee;
		@include rect(100%, 1px);
		transform: scaleY(.5);
	}

  // 只有一张图的页面共用
  .com-only-one-img{
    width: 100%;
  }

  // 公共button样式
  .com-button{
    @include rect(4.9rem, .88rem);
    @include font(.32rem, #fff);
    text-align: center;
    margin: .8rem auto;
    line-height: .88rem;
    background: $bg-g;
    border-radius: .44rem;
  }
 // toast样式
  /*toast*/
  .wr-toast {
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    border-radius: 0.05rem;
    color: #ffffff;
    position: fixed;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    min-width: .7rem;
    padding: 0.15rem;
    // display: none;
  }
  .wr-toast .iconfont {
    display: block;
    font-size: .5rem;
  }
  .wr-toast-content {
    font-size: 0.14rem;
  }
  .wr-toast-loading {
    border-radius: 100%;
    margin: 0.1rem 0;
    margin-bottom: 0.06rem;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    border: 2px solid #ffffff;
    border-bottom-color: transparent;
    height: 0.45rem;
    width: 0.45rem;
    background: transparent;
    display: inline-block;
    -webkit-animation: rotate 1s 0s linear infinite;
    animation: rotate 1s 0s linear infinite;
  }
  /*dialog加载中那一套*/
  .wr-dialog {
    width: 2.7rem;
    text-align: center;
    position: fixed;
    z-index: 999;
    left: 50%;
    margin-left: -1.35rem;
    margin-top: 0;
    top: 45%;
    border-radius: 0.06rem;
    opacity: 0;
    background-color: #ffffff;
    -webkit-transform: translate3d(0, 0, 0) scale(1.2);
    transform: translate3d(0, 0, 0) scale(1.2);
    -webkit-transition-property: -webkit-transform, opacity;
    transition-property: transform, opacity;
    /*display: none;*/
  }
  @keyframes rotate {
    0% {
      -webkit-transform: rotate(0deg) scale(1);
      transform: rotate(0deg) scale(1);
    }
  
    50% {
      -webkit-transform: rotate(180deg) scale(1);
      transform: rotate(180deg) scale(1);
    }
    100% {
      -webkit-transform: rotate(360deg) scale(1);
      transform: rotate(360deg) scale(1);
    }
  }
  @-webkit-keyframes rotate {
    0% {
      -webkit-transform: rotate(0deg) scale(1);
      transform: rotate(0deg) scale(1);
    }
    50% {
      -webkit-transform: rotate(180deg) scale(1);
      transform: rotate(180deg) scale(1);
    }
    100% {
      -webkit-transform: rotate(360deg) scale(1);
      transform: rotate(360deg) scale(1);
    }
  }
  /* loading结束 */

// 隐藏元素
.hidden{
  display: none;
}
